{%extends "base.html"%}
{%block title%}Sobremesas - Minhas receitas{%endblock%}
{%block content%}

<h2 class="text-2xl font-bold mb-6">Receitas de Sobremesa</h2>
<div class="grid grid-cols-l md:grid-cols-3 gap-6">
    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{% static 'img/morango-do-amor.jpg' %}" alt="Doce" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">aipirinha</h3>
        <p class="text-gray-600 mb-4">
            Tradicional Brasileira e Refrescante.</p>
    </div>
</div>
{%endblock%}